<div class="mergedtext venuemissing">Merged into venue: <a target="_blank" href="#s=specificvenuesearch&amp;venueid={{newvenue.id}}">{{newvenue.name}}</a>.
  (<a href="#" class="clear_venue" data-venueid="{{venue.id}}">clear</a>)
</div>
