
<% content_for :flagcount do %>
<%= @flagcount == 0 ? "" : @flagcount %>
<% end %>

<h1>Feedback, Questions, etc.</h1>
<br>

<div class="row-fluid">
  <div class="offset4 span4">
    <div class="alert alert-info">
      Want to get in touch?  Here are the ways:
    </div>

    <table class="table table-striped offset4 span4">
      <tr>
        <th>Suggestions</th>
        <td>Check out the <a href='https://www.google.com/moderator/#15/e=20d56e&amp;t=20d56e.45'>Google Moderator Forum</a> to make and vote on feature suggestions!</td>
      </tr>
      <tr>
        <th>Email</th>
        <td><a href='mailto:4sweep@4sweep.com'>4sweep@4sweep.com</a></td>
      </tr>
      <tr>
        <th>Twitter</th>
        <td><a href='https://twitter.com/4sweep'>@4sweep</a></td>
      </tr>
    <tfoot>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
    </tfoot>
    </table>
  </div>
</div>
