
<% content_for :flagcount do %>
<%= @flagcount == 0 ? "" : @flagcount %>
<% end %>

<h1>Feedback, Questions, etc.</h1>
<br>

<div class="row-fluid">
  <div class="offset4 span4">
    <div class="alert alert-info">
      Want to get in touch?  Email us: <a href='mailto:foursweep@foursquare.com'>foursweep@foursquare.com</a>
    </div>
  </div>
</div>
