<div class="control-group">
  <div class="relocateMap" id="relocateMap"></div>
</div>
<div class="control-group venuedetails_controlgroup">
  <label for="venuedetails_ll" class='control-label'>Location:</label>
  <div class="controls">
    <input type="text" name='venuedetails[venuell]' id='venuedetails_ll' class='submittable venuedetails_ll' data-keyname='venuell' value="{{venue.location.lat}},{{venue.location.lng}}">

  </div>

</div>
