<div class="items">
<span class="span3 placeholder">
  <div class="thumbnail loadmore">
    <span style='height:30px; width:300px; min-height: 300px; min-width:300px;'>
      Loading Photos <br><br>
      <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
    </span>
  </div>
</span>
</div>
