
<div class="modal hide fade itemsmodal photomodal" id='photomodal' data-type='photo'>
  <span class="itemvenue hide"></span><span class="itemuser hide"></span>
  <div class="modal-header">
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <span class="pull-left">
      <span class="sort-holder"></span>
      <span class="sizeradios">
        Size:
        <label for='photo_tiny'> <input class='photosize' type="radio" name='photosize' value='tiny' id="photo_tiny"> Tiny</label>

        <label for='photo_small'> <input class='photosize' type="radio" name='photosize' value='small' id="photo_small"> Small</label>
        <label for='photo_medium'><input class='photosize' type="radio" name='photosize' value='medium' id="photo_medium"> Medium</label>
        <label for='photo_large'> <input class='photosize' type="radio" name='photosize' value='large' id="photo_large"> Large</label>
      </span>
    </span>

    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
