<div class='nearButton closed'>
  <div>
    <span class="nearText">Near<span class="ellipsis">…</span></span>
    <span class="nearInput hide">
      <span class="input-append">
        <input type="text" class="input nearString" required='required' placeholder="city, postal code, etc">
        <button class="btn btn-small executeNear" type="button"><i class="i-right-open"></i></button>
      </span>
    </span>
  </div>
</div>
