<div class='radiusDropdownContainer noselect'>
  <div>
  <select id="radiusdropdown" class='input-small radius'>
    <option value="50">50 m</option>
    <option value="100">100 m</option>
    <option value="200">200 m</option>
    <option value="500">500 m</option>
    <option value="1000">1 km</option>
    <option value="3000">3 km</option>
    <option value="5000">5 km</option>
    <option value="10000">10 km</option>
    <option value="25000" selected='selected'>25 km</option>
    <option value="50000">50 km</option>
    <option value="75000">75 km</option>
    <option value="100000">100 km</option>
    <option value="250000">250 km</option>
    <option value="500000">500 km</option>
    <option value="1000000">1000 km</option>
  </select>
  </div>
</div>
