<p><em>Submit automatically</em>: Your flags will be submitted about 5 minutes
after you create them. You can cancel your flags in the <a href='/flags?status=queued'>Queued</a> section of the
Flags tab within those 5 minutes.</p>
<p><em>Review on Flags Tab</em>: Any flags you create will be added to the <a href='/flags?status=queued'>New</a>
section of the Flags tab. You can review them at your leisure before submitting them to Foursquare.
