What would you like to do with category <em>{{category_name}}</em> on <em>{{venue.name}}</em>? <br><br>

<button class='btn btn-primary flagbutton make-primary-cat {{#if category_primary}}disabled{{/if}}' data-flagtype="MakePrimaryCategoryFlag">Make Primary</button>

<button class='btn btn-danger flagbutton remove-cat' data-flagtype="RemoveCategoryFlag">Remove</button>
