Facebook Details for {{venue.name}}

<span><a href="https://facebook.com/{{venue.contact.facebook}}" target="_blank" class="btn btn-mini btn-primary facebookmini openstate-clickonly"><i class="i-facebook-squared"></i> Open in Facebook</a></span>

<span class="openstate-hoveronly pull-right">(Click to keep open)</span>
<button class='popover-close close openstate-clickonly pull-right'>&times;</button>
