Pending Foursquare Flags at {{venue.name}}
<span class="openstate-hoveronly pull-right">(Click to keep open)</span>
<button class='popover-close close pull-right openstate-clickonly'>&times;</button>
