<div class="editfilter-popover">
  <form action="" class="filterlist form-inline">
  <table class="table table-striped table-condensed">
    <tbody class="addfilter">
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">&nbsp;</td>
        <td style='text-align: right'><button class="btn addrow"><i class="icon-plus-sign"></i></button></td>
      </tr>
      <tr>
        <td colspan='4' class='center'>
          <button class="btn setfilter">Set Filter</button>
        </td>
      </tr>
    </tfoot>
  </table>
  </form>
  </div>
</div>
