<h1>4sweep</h1><br>

  <div class='alert alert-info' style='width: 30em; margin: auto'>
  <p>Hi there.</p>

  <p>Foursquare SU8+ from your region have reported that your Foursweeep account has been used to make many incorrect edits. Please review the <a href="https://foursquare.com/info/editguidelines">Foursquare Editing guidelines</a>, the <a href="https://foursquare.vanillaforums.com/categories/regional-style-guides">Regional Style Guides</a>, and <a href="https://foursquare.vanillaforums.com/categories/regional-discussions">Regional Discussions</a>.</p>

  <p>Please confirm that you have discussed the venue editing guidelines with your local superusers and ask a SU8+ from your area contact Foursweep to reactivate your account. Thanks!</p>
  <br><br>
    <a href="/session/logout" class="btn btn-primary">Log Out</a>

  </div>

</div>
