<dl>
  <dt>Replace All</dt>
  <dd>Set this venue's category to the selected category and remove all other existing categories.</dd>
  <dt>Make Primary</dt>
  <dd>Make the selected category the primary category of the venue.  If it is not already a category, it will be added.</dd>
  <dt>Add</dt>
  <dd>Add the selected category to the venue.  If the venue is currently uncategorized, it will become the primary category. Otherwise, it will become a secondary category for the venue.</dd>
  <dt>Remove</dt>
  <dd>Remove the selected category from the venue, if it is present.</dd>
</dl>

<div class="span11 alert alert-warning">
  <strong>Warning:</strong> If you create multiple category flags for a venue, they may not run in the order you intended.  For example, if you "Replace All" categories with one category and then "Add" a different category, the second category might be removed by the "Replace All" flag.
</div>

