<p>Use this flag for private homes.</p>
<div class="form-group">
  <p class='addcomment'><a>Add a comment for reviewers? &raquo;</a>
  </p>
  <div class="commentfield hide">
    Comment:<br>
    <textarea name='comment' placeholder='' style='' class='comment'></textarea>
  </div>
  <div class="describesubmitwhen"></div>

  <button data-flagtype="MakeHomeFlag" class="btn btn-default btn-danger pushflag">Recategorize Home</button>
</div>
