<p>Use this flag for places that are not open to the public or are relevant to only a small group of people.</p>
<div class="form-group">
  <p class='addcomment'><a>Add a comment for reviewers? &raquo;</a>
  </p>
  <div class="commentfield hide">
    Comment:<br>
    <textarea name='comment' placeholder='' style='' class='comment'></textarea>
  </div>
  <div class="describesubmitwhen"></div>

  <button data-flagtype="MakePrivateFlag" data-problem='private' class="btn btn-default btn-danger pushflag">Make Private</button>
</div>
