<p>Do the selected venues refer to the same place? (Do not merge subvenues into a main venue, please!)</p>
<div class="form-group">
  <p class='addcomment'><a>Add a comment for reviewers? &raquo;</a>
  </p>

  <div class="distancewarning">{{>explore/massflags/_merge_distance_warning}}</div>
  <div class="commentfield hide">
    Comment:<br>
    <textarea name='comment' placeholder='' style='' class='comment'></textarea>
  </div>
  <div class="describesubmitwhen"></div>

  <button data-flagtype="MergeFlag" class="btn btn-default btn-danger pushflag">Merge Venues</button>
</div>
