<p>Use this flag for offensive venues and venues that should be deleted from Foursquare entirely. If a venue isn't hurting anyone, consider <a class='privateflag'>flagging it private</a> instead. </p>

<p><strong>Please use this flag sparingly:</strong> Remember that your edits affect people's check-in history and experience.</p>
<div class="form-group">
  <div class="commentfield">
    Comment:<br>
    <textarea name='comment' placeholder='Why should this venue be deleted?' style='' class='comment'></textarea>
  </div>
  <div class="describesubmitwhen"></div>

  <button data-flagtype="DeleteFlag" data-problem='inappropriate' class="btn btn-default btn-danger pushflag">Flag Inappropriate</button>
  <button data-flagtype="DeleteFlag" data-problem='doesnt_exist' class="btn btn-default btn-danger pushflag">Flag Does Not Exist</button>
</div>
