<div class="modal hide fade" id="dupsearch-help">
  <div class="modal-header">
    <h2>Duplicate Venues Search</h2>
  </div>
  <div class="modal-body">
    <h3>What is this?</h3>
    <p>Duplicate search lets you perform the same search at different locations, allowing you to page
      through locations to find potential duplicate venues.  You provide a list of geographic coordinates,
      potentially from the result of another 4sweep search, a search query, a search radius, and optionally a
      filter, and then step through the results.</p>
    <h3>How to use Duplicate Search</h3>
    <p>First, you'll need to get the search locations.  For example, if you'd like to find potential duplicates of Tesco
      grocery stores, you can perform this search as a <a href="#global=global&s=pagesearch&pageid=26219082" target="_blank">chain search</a>.</p>
    <p>Next, select all the venues you want to use as search locations and click on the export button (<i class="i-export-alt"></i>), edit the search query, a click on the "Search for Duplicates" button. SU2+ tip: you can shift+click to select multiple venues.</p>
    <p>Page through locations in the search to find potential duplicates and other errors.  Use the merge button (<i class="i-spread"></i>) to merge duplicates.</p>

    <p>Tip: specify a broad search query (such as the first three letters of a venue name) and use filters to find misspelled venues.</p>

  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
