<div class="offset2 span8 alert alert-info searcherror">
  <h5>Search Area Too Big</h5>
  <p>Foursquare can't search an area this big. Would you like to split your search into smaller areas?</p>
</div>
<br>
