<div class="items">
<span class="placeholder offset1 span5">
  Loading Tips <br><br>
  <div class="progress progress-striped active">
    <div class="bar" style="width: 100%;"></div>
  </div>
</span>
</div>
