
<div class="modal hide fade itemsmodal tipmodal" id='tipmodal' data-type='tip'>
  <span class="itemvenue hide"></span>
  <div class="modal-header">
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <span class="pull-left">
      <span class="sortholder"></span>
      <span class="itemfiltercontainer">
        Filter: <input type='text' class='itemfilter'>
      </span>
    </span>

    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
